<div class="ifs-sis-freemium-info">
    <span>IntraFind </span><a href="https://sitesearch.cloud" target="_blank">Site Search</a><span> - get great search results</span>
</div>
<div id="ifs-rl-wrapper" class="ifs-rl-wrapper">
    <div class="ifs-naming{{#if config.facets.external}} ifs-external{{/if}}">
        <div class="ifs-filterbar-hook"></div>
        <div class="ifs-resultlist-hook"></div>
    </div>
</div>
