<a href="{{url}}" data-ifs-href="{{url}}" target="_blank">
    <div class="ifs-media">
        <div class="ifs-media-left">
            <i class="ifs-icons ifs-icon-web"></i>
        </div>
        <div class="ifs-media-body">
            <h4 class="ifs-break-all">
                {{{title}}}
            </h4>
        </div>
    </div>
</a>