<div class="ifs-sdrop-header ifs-websites-wrapper">
    <h3>
        <i class="glyphicons glyphicons-file ifs-kat-icon"></i>
        <span class="ifs-kat-text">{{msg "ifs.search.category.websites.title"}}</span>
        <span class="badge">{{ totalHits }}</span>
    </h3>
</div>
<div class="ifs-sdrop-section  nopadding ifs-websites-wrapper" data-search-group="websites">
    <div data-group-template="websites">
        <ul class="list-group">
        </ul>
    </div>
</div>