generated_tests/
config.json

/data
/service/data
/*.log
/*.hprof

# Spring Boot
/config

/client/build/**
/client/build/
/client/build
client/build
build/
build/*
build
/.gradle

# IntelliJ
\.idea/workspace\.xml
/out

# Eclipse
.project
.classpath