generated_tests/
config.json

/service/data
/*.log
/*.hprof

# Spring Boot
/config

client/build/js
service/src/main/resources/static/app
build
/.gradle

# IntelliJ
\.idea/workspace\.xml
/out

# Eclipse
.project
.classpath