confidential
generated_tests/
config.json

\.DS_Store
/service/data
/*.log
/*.hprof

/data
service/config

client/build/js
service/src/main/resources/static/app
build
/.gradle

# IntelliJ
\.idea/workspace\.xml
out

# Eclipse
.project
.classpath

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
