language: java
sudo: false # Use container based builds. They are faster and we do not need sudo.

jdk:
- oraclejdk8

branches:
  only:
    - master

os:
  - linux

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

script:
- "./gradlew clean build"

after_success:
- "./gradlew clean test"