<div class="ifs-bottom-tabs">
    <div class="ifs-bottom-tabs-content-wrapper">
        <div>
            <div class="ifs-bottom-tab-toolbar">
                <div><i class="ifs-icons ifs-icon-close" tab="1"></i></div>
            </div>
            <div class="ifs-bottom-tab-content">
                <div id="ifs-map" style="width: inherit; height: inherit;"></div>
            </div>
        </div>
        <div>
            <div class="ifs-bottom-tab-toolbar">
                <div><i class="ifs-icons ifs-icon-close" tab="2"></i></div>
            </div>
            <div class="ifs-bottom-tab-content">
                <div id="ifs-timeline" style="width: inherit; height: inherit;"></div>
            </div>
        </div>
    </div>
    <div class="ifs-bottom-tabs-nav">
        <div tab="1">Geosuche</div>
        <div tab="2">Timeline</div>
    </div>
</div>
