<div id="ifs-dp-wrapper">
    <div class="ifs-dp-window">
        <div class="ifs-dp-header">
            {{{header}}}
        </div>
        <div class="ifs-dp-body">
            {{{body}}}
        </div>
        {{#if showPager }}
            <div class="ifs-dp-footer">
                {{{footer}}}
            </div>
        {{/if}}
    </div>
</div>
