<div class="ifs-hitlist-wrapper">
    <div class="ifs-hitlist">
        {{#each results.resultList}}
            {{{this}}}
        {{/each}}
    </div>
    {{#if renderScrollTop}}
        <div class="ifs-back-to-top">
            <i class="ifs-icons ifs-icon-expand_less"></i>
        </div>
    {{/if}}
</div>
