<div class="ifs-sdrop-header ifs-synonyms-wrapper">
    <h3>
        <i class="fa fa-file-text ifs-kat-icon"></i>
        <span class="ifs-kat-text">{{msg "ifs.search.category.synonyms.title"}}</span>
    </h3>
    <a data-action="toggle-synonyms" data-category="synonyms" class="ifs-category-header-link" href="javascript:;">
        <i class="ifs-toggler glyphicons glyphicons-unchecked"></i>
    </a>
</div>
<div class="ifs-sdrop-section ifs-synonyms-wrapper" data-search-group="synonyms">
    <div data-group-template="synonyms">
        <ul class="list-group">
        </ul>
    </div>
</div>