server {
    listen 80 default_server;
    listen [::]:80 default_server;

    #    Letsencrypt
    location ^~ /.well-known/acme-challenge/ {
        root /etc/letsencrypt;
    }

    location / {
        #        return 301 https://$host$request_uri;
        proxy_pass http://al-ui:80;
    }
}

server {
    listen 9602;
    listen [::]:9602;

    auth_basic "Authentication";
    auth_basic_user_file /etc/nginx/.htpasswd;

    location / {
        proxy_pass http://al-tagger:9602;
    }
}

server {
    listen 9603;
    listen [::]:9603;

    auth_basic "Authentication";
    auth_basic_user_file /etc/nginx/.htpasswd;

    location / {
        proxy_pass http://al-tagger:9603;
    }
}

server {
    listen 9200;
    listen [::]:9200;

    auth_basic "Authentication";
    auth_basic_user_file /etc/nginx/.htpasswd;

    location / {
        proxy_pass http://elasticsearch:9200;
    }
}

server {
    listen 8080;
    listen [::]:8080;

    location / {
        proxy_pass http://al-api:8080;
    }
}

server {
    listen 443;
    listen [::]:443;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://al-api:8080;
    }
}


server {
    listen 443;
    listen [::]:443;

    location / {
        #        proxy_pass http://al-api:8080;
        return 301 http://$host$request_uri;
    }
}

#server {
#    listen 80 default_server;
#    listen [::]:80 default_server;
#
#    #    Letsencrypt
#    location ^~ /.well-known/acme-challenge/ {
#        root /etc/letsencrypt;
#    }
#
#    location / {
#        #        return 301 https://$host$request_uri;
#        proxy_pass http://al-ui:81;
#    }
#}
#
#server {
#    listen 443 ssl http2;
#    listen [::]:443 ssl http2;
#
#    #    include /etc/nginx/snippets/ssl.conf;
#
#    location / {
#        proxy_pass http://al-ui:81;
#    }
#}
#
#server {
#    listen 443 ssl http2;
#    listen [::]:443 ssl http2;
#    server_name fps-law.analyzelaw.com;
#
#    #    include /etc/nginx/snippets/ssl.conf;
#
#    location / {
#        return 301 https://analyzelaw.com$request_uri;
#    }
#}
