server {
    listen 80 default_server;
    listen [::]:80 default_server;

    #    Letsencrypt
    #    location ^~ /.well-known/acme-challenge/ {
    #        root /etc/letsencrypt;
    #    }

    location / {
        #        return 301 https://$host$request_uri;
        proxy_pass http://al-ui:80;
    }
}

#server {
#    listen 80 default_server;
#    listen [::]:80 default_server;
#
#    #    Letsencrypt
#    location ^~ /.well-known/acme-challenge/ {
#        root /etc/letsencrypt;
#    }
#
#    location / {
#        #        return 301 https://$host$request_uri;
#        proxy_pass http://al-ui:81;
#    }
#}
#
#server {
#    listen 443 ssl http2;
#    listen [::]:443 ssl http2;
#
#    #    include /etc/nginx/snippets/ssl.conf;
#
#    location / {
#        proxy_pass http://al-ui:81;
#    }
#}
#
#server {
#    listen 443 ssl http2;
#    listen [::]:443 ssl http2;
#    server_name fps-law.analyzelaw.com;
#
#    #    include /etc/nginx/snippets/ssl.conf;
#
#    location / {
#        return 301 https://analyzelaw.com$request_uri;
#    }
#}
