<div class="ifs-sdrop-section ifs-{{config.name}}-wrapper" data-search-group="{{config.name}}">
    <div class="row">
        <div class="col-sm-12">
            <div class="ifs-{{config.name}}">
                <div data-group-template="{{config.name}}">
                    <ul class="list-group">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>