<div class="ifs-sdrop-section ifs-lastsearches-wrapper" data-search-group="lastsearches">
    <div class="row">
        <div class="col-sm-12">
            <div class="ifs-lastsearches">
                <div data-group-template="lastsearches">
                    <ul class="list-group">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>