<div class="ifs-sdrop-header ifs-people-wrapper">
    <h3>
        <i class="glyphicons glyphicons-user ifs-kat-icon"></i>
        <span>{{msg "ifs.search.category.people.title"}}</span>
        <span class="badge">{{ meta.totalHits }}</span>
    </h3>
    <a data-action="search-all" data-category="people" class="ifs-category-header-link" href="#">
        <span  class="hidden-xs">{{msg "ifs.search.category.people.searchall"}}</span>
        <i class="glyphicons glyphicons-chevron-right"></i>
    </a>
</div>
<div class="ifs-sdrop-section ifs-people-wrapper" data-search-group="people">
    <div class="row">
        <div data-group-template="people">
            <ul class="list-group">
            </ul>
        </div>
    </div>
</div>