<div class="ifs-sdrop-header ifs-translations-wrapper">
    <h3>
        <i class="fa fa-file-text ifs-kat-icon"></i>
        <span class="ifs-kat-text">{{msg "ifs.search.category.translations.title"}}</span>
    </h3>
    <a data-action="toggle-translations" data-category="translations" class="ifs-category-header-link" href="javascript:;">
        <i class="ifs-toggler glyphicons glyphicons-unchecked"></i>
    </a>
</div>
<div class="ifs-sdrop-section ifs-translations-wrapper"  data-search-group="translations">
    <div data-group-template="translations">
        <ul class="list-group">
        </ul>
    </div>
</div>