<p><span data-globalize="ifs.text.dym"></span>:</p>
<div class="ifs-means">
    <ul>
        {{#each this}}
        <li>
            <i class="ifs-icons ifs-icon-search"></i>
            <a href="javascript:void(0);" data-action="search-dym" data-term="{{term}}">{{term}}</a>
        </li>
        {{/each}}
    </ul>
</div>
