#ifs-sb-searchfield {
    height: 25px !important;
    padding: 0px 7px 0px 7px !important;
    border: 0px !important;
    -moz-box-shadow: inset 0 0 4px 1px #d6d6d6 !important;
    -webkit-box-shadow: inset 0 0 4px 1px #d6d6d6 !important;
    box-shadow: inset 0 0 4px 1px #d6d6d6 !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    color: #909697 !important;
    font-familiy: "Arial", "Verdana", sans-serif !important;
}

.ifs-sb .typeahead__container.cancel > .ifs-centerfield > .typeahead__searchfield span.typeahead__cancel-button {
    display: none;
}

button#ifs-perform-search {
    height: 25px !important;
    width: 25px !important;
    border: 0 !important;
    background: #909697 !important;
    color: #fff !important;
    margin-left: 0 !important;
}

button#ifs-perform-search:hover {
    background: #92b050 !important;
    border: 0 !important;
    color: #fff !important;
}

button#ifs-perform-search i.glyphicons {
    top: -5px;
    left: -7px;
    font-size: 15px;
}

/* autocomplete layer */
#ifs-sdrop-wrapper.ifs-component.typeahead__list {
    min-width: 180px !important;
    padding: 0 !important;
    margin: 0 !important;
    right: 0;
    left: auto !important;
}

@media (min-width: 1450px) {
    #ifs-sdrop-wrapper.ifs-component.typeahead__list {
        right: auto;
        left: 0 !important;
    }
}

#ifs-sdrop-wrapper.ifs-component {
    padding: 0px !important;
}

#ifs-sdrop-wrapper.ifs-component .list-group-item {
    width: 100% !important;
}

#ifs-sdrop-wrapper.ifs-component .list-group-item a {
    font-size: 13px;
    font-weight: 400 !important;
    color: #909697 !important;
    line-height: 22px;
    padding: 4px 5px !important;
}

.ifs-sb .ifs-autocomplete-wrapper ul > li:hover,
.ifs-sb .ifs-autocomplete-wrapper ul > li.active {
    background: #eaeaea;
}

/* result layer */

#ifs-rl-modal {
    top: 25px !important;
    min-width: 540px;
    right: 0;
    left: auto !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1820px) {
    #ifs-rl-modal {
        right: auto;
        left: 0 !important;
    }
}

#ifs-rl-wrapper #ifs-hitlist {
    margin: 0 !important;
}

#ifs-rl-wrapper div.ifs-media {
    padding: 10px 15px 5px !important;
    border-bottom: 0 !important;
}

.ifs-rl-wrapper .ifs-media-heading {
    margin-bottom: 0 !important;
}

.ifs-rl-wrapper .ifs-media-heading,
.ifs-rl-wrapper .ifs-media-heading > a {
    color: #92b050 !important;
    font-weight: bold;
    font-size: 14px;
}

.ifs-rl-wrapper .ifs-media-heading > a:hover {
    color: #007154 !important;
    text-decoration: none !important;
}

.ifs-rl-wrapper p {
    font-size: 12px;
    line-height: 18px;
    font-weigth: 400;
    color: #6B777B;
    padding: 0;
    margin-bottom: 5px !important;
}

#ifs-rl-wrapper .ifs-hitlist > div:nth-of-type(2n+1) p {
    color: #50585b;
}

.ifs-rl-wrapper .flex-truncate {
    display: none;
}

.ifs-rl-wrapper p .if-teaser-highlight {
    color: #000;
    font-weight: normal !important;
}

.ifs-rl-wrapper a,
.ifs-rl-wrapper a p,
.ifs-rl-wrapper a p .if-teaser-highlight {
    color: #92b050 !important;
    font-weight: bold !important;
}

.ifs-rl-wrapper a:hover,
.ifs-rl-wrapper a:hover p,
.ifs-rl-wrapper a:hover p .if-teaser-highlight {
    color: #007154 !important;
    text-decoration: none !important;
}

.ifs-rl-wrapper a,
.ifs-rl-wrapper a:hover,
.ifs-rl-wrapper a:active,
.ifs-rl-wrapper a:focus {
    text-decoration: none !important;
}

#ifs-perform-search i {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3E%3Cpath fill='%23fff' d='M10.529 2.502A8.029 8.029 0 0 0 2.5 10.53a8.029 8.029 0 0 0 8.029 8.03 8.029 8.029 0 0 0 4.364-1.3l5.227 5.238 2.38-2.354-5.22-5.27a8.029 8.029 0 0 0 1.278-4.344 8.029 8.029 0 0 0-8.029-8.028zm0 2.662a5.472 5.472 0 0 1 5.472 5.472 5.472 5.472 0 0 1-5.472 5.472 5.472 5.472 0 0 1-5.472-5.472 5.472 5.472 0 0 1 5.472-5.472z'/%3E%3C/svg%3E");
    width: 25px;
    height: 20px;
    width: 20px;
    background-size: cover;
    top: -3px !important;
    left: -9px !important;
}

#ifs-perform-search i:before {
    content: '' !important;
}

.ifs-page-seperator {
    background-color: #92b050 !important;
}