<li class="media ifs-tpl-default" data-index="{{integer}}">
    <div class="media-body">
        <h4 class="media-heading ifs-dont-break">
            {{{title}}}
        </h4>
        <p class="truncate">
            {{type}}
        </p>
        {{#if text}}
            <p class="ifs-textbody">{{{text}}}</p>
        {{/if}}
    </div>
</li>