$font:                            'Open Sans', sans-serif;

// COLORS
$font-color:                      #404040;
$icon-color:                      #5f5f5f;
$light-font-color:                #777777;
$blue:                            #00aeef;
$lightblue:                       #b2e7fa;
$green:                           #bccf03;
$border:                          #cccccc;
$input-bg:                        #fdfdfd;
$light-border:                    #e3e3e3;
$white:                           #ffffff;
$error:                           #f1172b;

$headings-margin-bottom:          1rem;
$paragraph-margin-bottom:         1rem;
