server {
    listen 80 default_server;
    listen [::]:80 default_server;

    #    Letsencrypt
    location ^~ /.well-known/acme-challenge/ {
        root /etc/letsencrypt;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://if-sitesearch:8001;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        root /usr/share/nginx/html/frontpage;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name www.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        return 301 https://sitesearch.cloud$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name ci.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://teamcity-server:8111;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name doc.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass https://intrafind.github.io/if-sitesearch/;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name green.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://if-sitesearch-green:8001;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name crawler.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    auth_basic "Crawler";
    auth_basic_user_file /etc/nginx/.htpasswd; # supply this via env vars somehow or as raw file at build time

    location / {
        proxy_pass http://if-app-webcrawler:8090;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name tagger.analyzelaw.com;

    include /etc/nginx/snippets/ssl.conf;

    auth_basic "Tagger";
    auth_basic_user_file /etc/nginx/.htpasswd; # supply this via env vars somehow or as raw file at build time

    large_client_header_buffers 4 32k;

    location / {
        proxy_pass http://if-tagging-service:9603;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name api.analyzelaw.com;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        include /etc/nginx/snippets/cors-headers.conf;

        proxy_pass http://if-sitesearch:8001;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name blue.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://if-sitesearch-blue:8001;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name dev.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        include /etc/nginx/snippets/cors-headers.conf;

        proxy_pass http://if-sitesearch:8001;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name logs.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    auth_basic "Logs";
    auth_basic_user_file /etc/nginx/.htpasswd; # supply this via env vars somehow or as raw file at build time

    location / {
        proxy_pass http://ops-kibana:5601;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name docker-registry.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    auth_basic "Docker Registry";
    auth_basic_user_file /etc/nginx/.htpasswd; # supply this via env vars somehow or as raw file at build time

    location / {
        client_max_body_size 3G;
        proxy_pass http://docker-registry:5000;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name team.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        return 301 https://teams.microsoft.com/l/team/19%3a09eed7a6301c4722bccf0c5d8138e43d%40thread.skype/conversations?groupId=160a111e-ad5f-4b7a-9fed-44ec87100c5a&tenantId=09bb6857-2fbd-4b58-9c1a-93213574239a;
    }
}
