# http://domain redirects to https://domain
server {
    listen 80;
    listen [::]:80;
    #    server_name muctool.loxal.net;
    #

    include /etc/nginx/snippets/letsencrypt.conf;

    #        location / {
    #        return 301 https://muctool.loxal.net:1443;
    #        }
    #

    location / {
        proxy_pass https://$host$request_uri;
        #        return 301 https://$host$request_uri;
    }

    #    return 301 https://$host$request_uri;
}

## http://www.domain redirects to https://www.domain
#server {
#    listen 80 default_server;
#    listen [::]:80 default_server ipv6only=on;
#    server_name muctool.loxal.net;
#
#    include /etc/nginx/snippets/letsencrypt.conf;
#
#    location / {
#        return 301 https://muctool.loxal.net:1443$request_uri;
#    }
#}


#server {
#    server_name www.muctool.de;
#    listen 443 ssl http2 default_server;
#    listen [::]:443 ssl http2 default_server ipv6only=on;
#
#    include /etc/nginx/snippets/ssl.conf;
#
#    root /var/www/domain;
#    index index.html;
#    location / {
#        try_files $uri $uri/ =404;
#    }
#}

server {
    #    listen 80;
    #    listen [::]:80;
    listen 443 ssl http2;
    listen [::]:443 ssl http2 ipv6only=on;
    server_name ci.loxal.net;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://ci.loxal.net:8111;
    }
}

server {
    #    listen 80;
    #    listen [::]:80;
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name muctool.loxal.net;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass https://muctool.loxal.net:1443;
    }
}

server {
    server_name sky.loxal.net;

    include /etc/nginx/snippets/ssl.conf;

    index index.html;
    location /dilbert-quote {
        proxy_pass http://sky.loxal.net:1181/dilbert-quote;
    }
}