server {
    listen 80 default_server;
    listen [::]:80 default_server;

    include /etc/nginx/snippets/letsencrypt.conf;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    #    listen [::]:443 ssl http2 ipv6only=on;
    listen [::]:443 ssl http2;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://main.sitesearch.cloud:2443;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        root /usr/share/nginx/html/frontpage;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name www.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        return 301 https://sitesearch.cloud$request_uri;
    }
}

#server {
#    listen 443 ssl http2;
#    listen [::]:443 ssl http2;
#    server_name api.sitesearch.cloud;
#
#    gzip on;
#    gzip_types text/plain text/html text/css application/xml application/json application/javascript;
#
#    include /etc/nginx/snippets/ssl.conf;
#
#    location /status {
#        stub_status on;
#        access_log off;
#    }
#
#    location /technology/ {
#        proxy_pass http://main.sitesearch.cloud:2443/;
#    }
#
#    location /product-info {
#        proxy_redirect off;
#        proxy_pass http://sitesearch.online;
#    }
#    location /product-info0 {
#        proxy_redirect off;
#        proxy_pass http://sitesearch.online;
#    }
#    location /product-info1 {
#        proxy_redirect off;
#        proxy_pass http://sitesearch.online/bootstrap;
#    }
#    location /product-info2 {
#        proxy_redirect off;
#        proxy_pass http://sitesearch.online/bootstrap/;
#    }
#
#    #    location /api/ {
#    #        proxy_pass http://main.sitesearch.cloud:2443/;
#    #    }
#
#    location / {
#        # CORS headers
#        add_header access-control-allow-credentials true always;
#        add_header access-control-allow-origin $http_origin always;
#        proxy_hide_header x-frame-options;
#
#        proxy_pass http://sitesearch-api;
#    }
#}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name ci.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://main.sitesearch.cloud:8111;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name doc.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass https://intrafind.github.io/if-sitesearch/;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name main.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://main.sitesearch.cloud:9605;
    }
}

#server {
#    listen 443 ssl http2;
#    listen [::]:443 ssl http2;
#    server_name green.sitesearch.cloud;
#
#    include /etc/nginx/snippets/ssl.conf;
#
#    location / {
#        proxy_pass http://main.sitesearch.cloud:3442;
#    }
#}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name blue.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://main.sitesearch.cloud:4442;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name dev.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://dev.sitesearch.cloud:2443;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name test.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    #    location /wp {
    #        proxy_redirect off;
    #        proxy_pass http://sitesearch.online;
    #    }
    #    location /wp1 {
    #        proxy_redirect off;
    #        proxy_pass http://sitesearch.online/;
    #    }
    #    location /wp0 {
    #        proxy_redirect off;
    #        proxy_pass http://sitesearch.online/bootstrap/;
    #    }
    location / {
        proxy_pass http://main.sitesearch.cloud:3442;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name logs.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    auth_basic "Logs";
    auth_basic_user_file /etc/nginx/.htpasswd; # supply this via env vars somehow or as raw file at build time

    location / {
        proxy_pass http://main.sitesearch.cloud:5601;
    }
}