server {
    listen 80 default_server;
    listen [::]:80 default_server;

    #    Letsencrypt
    location ^~ /.well-known/acme-challenge/ {
        root /etc/letsencrypt;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    #    listen [::]:443 ssl http2 ipv6only=on;
    listen [::]:443 ssl http2;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://if-sitesearch:8001;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        root /usr/share/nginx/html/frontpage;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name www.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        return 301 https://sitesearch.cloud$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name ci.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://teamcity-server:8111;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name doc.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass https://intrafind.github.io/if-sitesearch/;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name main.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location /status {
        stub_status on;
        access_log off;
    }

    location / {
        #        proxy_pass http://sitesearch-search-service:9605;
        proxy_pass http://ifinder-search-service;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name green.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://if-sitesearch-green:8001;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name blue.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://if-sitesearch-blue:8001;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name dev.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        include /etc/nginx/snippets/cors-headers.conf;

        proxy_pass http://if-sitesearch:8001;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name logs.sitesearch.cloud;

    include /etc/nginx/snippets/ssl.conf;

    auth_basic "Logs";
    auth_basic_user_file /etc/nginx/.htpasswd; # supply this via env vars somehow or as raw file at build time

    location / {
        proxy_pass http://ops-kibana:5601;
    }
}