<ul>
    {{# each items}}
        <li role="presentation">
            <a href="javascript:void(0);" data-value="{{connector}}" data-action="switch-tab">
                <i class="ifs-icons ifs-icon-{{icon}}"></i>
                <span>{{msg title}}</span>
            </a>
        </li>
    {{/each}}
</ul>
