<div class="ifs-tags-wrapper">
    <button type="button" class="ifs-button badge">
        <i class="ifs-icons ifs-icon-tag"></i>
        <span class="ifs-badge">{{{tagsCount}}}</span>
    </button>
</div>
