<button type="button" class="ifs-button ifs-no-border" data-action="page-prev" data-globalize="ifs.btn.prevpage"
        data-globalize-target="title">
    <i class="ifs-icons ifs-icon-keyboard_arrow_left"></i>
</button>
<span data-globalize="ifs.label.page"></span>
<span class="ifs-dp-currentpage">1</span> / <span class="ifs-dp-totalpages">{{totalPages}}</span>
<button type="button" class="ifs-button ifs-no-border" data-action="page-next" data-globalize="ifs.btn.nextpage"
        data-globalize-target="title">
    <i class="ifs-icons ifs-icon-keyboard_arrow_right"></i>
</button>