<div class="ifs-sdrop-header ifs-websites-wrapper">
    <a data-action="search-all" data-category="websites" class="ifs-sdrop-header-wrapper" href="javascript:void(0);">
        <h3>
            <i class="ifs-icons ifs-icon-web"></i>
            <span class="ifs-sdrop-header-category">{{msg "ifs.search.category.websites.title"}}</span>
            <span class="ifs-sdrop-header-hits">{{ meta.totalHits }}</span>
        </h3>
        <i class="ifs-icons ifs-icon-keyboard_arrow_right"></i>
    </a>
</div>
<div class="ifs-sdrop-section ifs-websites-wrapper" data-search-group="websites">
    <div data-group-template="websites">
        <ul></ul>
    </div>
</div>
