server {
    listen 80;
    #    listen [::]:80;

    return 301 https://$host$request_uri;
}

server {
    listen 443;
    #    listen 80;
    #    listen [::]:443;
    #    listen [::]:80;
    server_name dev.sitesearch.cloud;

    #    location / {
    #        proxy_pass https://sitesearch.cloud;
    #    }

    location /dev {
        proxy_pass https://sitesearch.cloud/;
    }

    location /api {
        proxy_pass https://sitesearch.cloud/;
    }

    location /about {
        proxy_pass http://sitesearch.online/;
    }
}

#server {
#    listen 80;
#    listen [::]:80;
#    server_name api.sitesearch.cloud;
#
#    location / {
#        proxy_pass http://sitesearch.online/;
#    }
#
#    location /api {
#        proxy_pass https://api.sitesearch.cloud;
#    }
#
#    location /info {
#        proxy_pass https://sitesearch.cloud;
#    }
#}

server {
    listen 80;
    listen [::]:80;
    server_name ci.sitesearch.cloud;

    location / {
        proxy_pass http://ci.sitesearch.cloud:8111;
    }
}

#server {
#    listen 80;
#    listen [::]:80;
#    server_name main.sitesearch.cloud;
#
#    location / {
#        proxy_pass http://sitesearch.online;
#    }
#
#    location /api {
#        proxy_pass https://api.sitesearch.cloud;
#    }
#}

#server {
#    listen 80;
#    listen [::]:80;
#    server_name dev.sitesearch.cloud;
#
#    location /status {
#        stub_status on;
#        access_log off;
#    }
#}

server {
    listen 80;
    listen [::]:80;
    server_name test.sitesearch.cloud;

    location / {
        proxy_pass https://test.sitesearch.cloud:3442;
    }
}
