server {
    listen 80;
    listen [::]:80;

    return 301 https://$host$request_uri;

    location /my {
        # used for client & user management that should go to a single instance only
        proxy_pass https://example.com; # TODO test this
    }

    #    return 301 https://$host$request_uri;  # TODO test this
}

server {
    listen 80;
    listen [::]:80;
    server_name api.sitesearch.cloud;

    location / {
        proxy_pass http://sitesearch.online;
    }

    location /api {
        proxy_pass https://api.sitesearch.cloud; # TODO test this
        #        proxy_pass https://api.sitesearch.cloud/; # TODO test this
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name main.sitesearch.cloud;

    location / {
        proxy_pass http://sitesearch.online;
    }

    location /api {
        proxy_pass https://api.sitesearch.cloud;
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name dev.sitesearch.cloud;

    location / {
        proxy_pass https://dev.sitesearch.cloud:4442;
    }

    # TODO move this to top server configuration
    location /status {
        stub_status on;
        access_log off;
        #    allow 127.0.0.1;
        #    deny all;
    }

    #location /healthcheck {
    #proxy_pass  http://backend;
    #proxy_cache cache_backend;

    # health_check;
    #}

    #location /status1 {
    # status_format json;
    #status;
    #}

    #location /upstream_conf {
    # upstream_conf;
    #}
}

server {
    listen 80;
    listen [::]:80;
    server_name test.sitesearch.cloud;

    location / {
        proxy_pass https://test.sitesearch.cloud:3442;
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name ci.sitesearch.cloud;

    location / {
        #proxy_pass http://$host:8111$request_uri;
        proxy_pass http://ci.sitesearch.cloud:8111;
    }
}