<div class="ifs-sdrop-section ifs-actionable-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="ifs-actionable">
                <div data-group-template="actionable">
                    <ul class="list-group">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>