<div class="ifs-sdrop-header ifs-documents-wrapper">
    <h3>
        <i class="glyphicons glyphicons-file ifs-kat-icon"></i>
        <span class="ifs-kat-text">{{msg "ifs.search.category.documents.title"}}</span>
        <span class="badge">{{ meta.totalHits }}</span>
    </h3>
    <a data-action="search-all" data-category="documents" class="ifs-category-header-link" href="javascript:void(0);">
        <span class="hidden-xs">{{msg "ifs.search.category.documents.searchall" }}</span>
        <i class="glyphicons glyphicons-chevron-right"></i>
    </a>
</div>
<div class="ifs-sdrop-section  nopadding ifs-documents-wrapper" data-search-group="documents">
    <div data-group-template="documents">
        <ul class="list-group">
        </ul>
    </div>
</div>