<div class="ifs-sdrop-header ifs-websites-wrapper">
    <h3>
        <i class="glyphicons glyphicons-file ifs-kat-icon"></i>
        <span class="ifs-kat-text">{{msg "ifs.search.category.websites.title"}}</span>
        <span class="badge">{{ meta.totalHits }}</span>
    </h3>
    <a data-action="search-all" data-type="filesystem" class="ifs-category-header-link" href="#">
        <span class="hidden-xs">{{msg "ifs.search.category.websites.searchall" }}</span>
        <i class="glyphicons glyphicons-chevron-right"></i>
    </a>
</div>
<div class="ifs-sdrop-section  nopadding ifs-websites-wrapper" data-search-group="websites">
    <div data-group-template="websites">
        <ul class="list-group">
        </ul>
    </div>
</div>