<div class="ifs-sdrop-section ifs-autocomplete-wrapper" data-search-group="autocomplete">
    <div class="row">
        <div class="col-sm-12">
            <div class="ifs-autocomplete">
                <div data-group-template="autocomplete">
                    <ul class="list-group">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>