<div class="row">
    <div class="col-sm-12 sitesearch swyt title">
        {{{title}}}
    </div>

    {{#if url}}
    <div class="col-sm-12 sitesearch swyt url" >
        <a href="{{url}}" target="_blank">{{url}}</a>
    </div>
    {{/if}}
</div>