<div class="ifs-sdrop-header ifs-translations-wrapper" data-action="toggle-translations" data-category="translations" >
    <div class="ifs-sdrop-header-wrapper">
        <h3>
            <i class="ifs-icons ifs-icon-translate"></i>
            <span class="ifs-sdrop-header-category">{{msg "ifs.search.category.translations.title"}}</span>
        </h3>
        <input type="checkbox" class="ifs-sdrop-header-wrapper">
    </div>
</div>
<div class="ifs-sdrop-section ifs-translations-wrapper" data-search-group="translations">
    <div class="row">
        <div data-group-template="translations">
            <ul class="list-group">
            </ul>
        </div>
    </div>
</div>
