<div class="ifs-hitlist">
    <ul id="ifs-listcontainer" class="media-list">
        {{{resultList}}}
    </ul>
    <button id="ifs-scrolltop"  data-toggle="tooltip" title="{{msg ifs.btn.scrolltop}}">
        <i class="glyphicons glyphicon-arrow-up" data-toggle="tooltip" title="{{msg ifs.btn.scrolltop}}"></i>
    </button>
</div>