<div class="ifs-dym">
    <p>
        <span class="ifs-bold">{{{searchQuery}}}</span>
        <span data-globalize="ifs.text.noresult"></span>.
    </p>
    {{#if dymContent}}
        {{{dymContent}}}
    {{/if}}
</div>