<div class="ifs-sdrop-header ifs-people-wrapper">
    <a data-action="search-all" data-category="people" href="javascript:void(0);" class="ifs-sdrop-header-wrapper">
        <h3>
            <i class="ifs-icons ifs-icon-group"></i>
            <span class="ifs-sdrop-header-category">{{msg "ifs.search.category.people.title"}}</span>
            <span class="ifs-sdrop-header-hits">{{ meta.totalHits }}</span>
        </h3>
        <i class="ifs-icons ifs-icon-keyboard_arrow_right"></i>
    </a>
</div>
<div class="ifs-sdrop-section ifs-people-wrapper" data-search-group="people">
    <div class="row">
        <div data-group-template="people">
            <ul></ul>
        </div>
    </div>
</div>