<div class="ifs-dym">
    <p class="text-center">
        <span class="truncate bold">{{{searchQuery}}}</span>
        <span data-globalize="ifs.text.noresult"></span>
    </p>
    {{#if dymContent}}
        {{{dymContent}}}
    {{/if}}
</div>