<div class="ifs-sdrop-header ifs-synonyms-wrapper" data-action="toggle-synonyms" data-category="synonyms">
    <div class="ifs-sdrop-header-wrapper">
        <h3>
            <i class="ifs-icons ifs-icon-synonym"></i>
            <span class="ifs-sdrop-header-category">{{msg "ifs.search.category.synonyms.title"}}</span>
        </h3>
        <input type="checkbox" class="ifs-sdrop-header-wrapper">
    </div>
</div>
<div class="ifs-sdrop-section ifs-synonyms-wrapper" data-search-group="synonyms">
    <div class="row">
        <div data-group-template="synonyms">
            <ul class="list-group">
            </ul>
        </div>
    </div>
</div>
