<h4 class="text-center">
    <span data-globalize="ifs.text.dym"></span>
</h4>
<div class="ifs-means">
    <ul>

        {{#each this}}

            <li>
                <a href="javascript:void(0);" data-action="dym" data-term="{{term}}">
                    <i class="glyphicons glyphicons-search"></i> {{term}}
                </a>
            </li>

        {{/each}}

    </ul>
</div>
