<div id="rl-and-modal">
    <div id="ifs-rl-wrapper" class="ifs-component">
    </div>
    <!--<div id="ifs-modal" data-ifmodal-id="modal" role="dialog" aria-labelledby="modal1Title"-->
         <!--aria-describedby="modal1Desc" class="ifs-component ifmodal ifmodal-is-initialized ifmodal-is-closed"-->
         <!--tabindex="-1"></div>-->
</div>