<div id="ifs-filter-wrapper" class="ifs-component">
    <div id="ifs-filterbar" class="ifs-rl-filter {{#if facetsVisible}}fi-show{{/if}} {{#if mobileState }}filterbar-mobile{{/if}}">
        {{#if mobileState }}
            <div class="ifs-filter-header">
                <h4>Filter <button class="btn btn-closefilter"><i class="glyphicons glyphicons-remove-2"></i></button></h4>

            </div>
        {{/if}}
        <div id="facets" class="ifs-filter-section"></div>
    </div>
</div>