<div class="last-search-list ifs-component">
    <div data-group-template="lastsearches">
        <ul class="list-group">
        </ul>
    </div>
</div>
<div id="ifs-sdrop-wrapper" class="ifs-component">
    {{# each wrapper}}
        {{ this }}
    {{/each}}
</div>